* {
  font-family: 'Times New Roman', Times, serif;
}

.section {
  margin: 10px auto;
  max-width: 800px;
  padding: 10px;
  background-color: #7fffd4;
  border: 1px rgba(0, 0, 0, 1) dashed;
  color: darkblue;
}

.section h2 {
  color: blueviolet;
}

img {
  margin: 0px auto;
}

h1 {
  text-align: center;
}


#source {
  font-size: 30px;
}

img {
  display: block;
}