* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

body {
  padding: 10px;
  background-color: #ffebcd;
}

#root {
  margin: 0px auto;
  max-width: 600px;
}

.nav {
  background-color: #9acd3890;
  display: inline-block;
  padding: 5px;
  padding-left: 0px;
  margin: 20px 0px;
  border: 2px solid #9acd38;
}

.nav li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  margin-left: 5px;
  background-color: #9acd38;
}